*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

body{
    font-family: 'Comfortaa', cursive;
}

a{  
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: clamp(0.5rem, 1rem, 2rem);;
    transition: 0.6s;
}

header{
    padding: 0 40px;
}

header img{
    width: 100px;
}

.paint{
    width: 100%;
}
.green-paint{
    background-color: #29bf92c0;
    height: 70vw;
    height: 670px;
    overflow-x: visible;
}

.nav-mob{
    display: none;
}

.desk ul{
    margin-right: 0;
    text-align: right;
    margin-bottom: 0;
}


.nav-list a:hover{
    color: #29bf92;
    text-decoration: none;
}
.nav-list li{
    display: inline;
    margin: 0 10px;
}

.nav-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.button{
    z-index: 999999;
    position: relative;
    text-align: center;
    transform: translateY(50%); 
}

.exam-button{
    color: #29bf92;
    font-size: clamp(0.5rem, 1rem, 2rem);
    font-weight: 600;
    border: #29bf92 2px solid;
    padding: 8px 20px;
    border-radius: 1000px;
}

.exam-button:hover{
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11); 
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11);
}

main{
    height: 670px;
    background: url(../SiteImma/img/imgslide1.png) no-repeat center center;
    background-size: cover;
}

.main-title{
    width: 420px;
    position: relative;
    top: 290px;
    left: 80px;
    color: #fff;
}

.main-title h1{
    font-size: 3.3rem;
}
.main-title h2{
    font-size: 1rem;
}

.title{
    padding: 27px 0;
    text-align: center;
}

.slide-convenios{
    
    position: relative;
    width: 100%;
    height: 175px;
    background-color: #5e5e5e;
}

.about{
    padding: 0 40px;
}
.about-list ul{
    display: flex;
    justify-content: center;
}

.about-list li{
    display: block;
    text-align: center;
    margin: 20px;
}
.about-list p{
    display: inline;
}

.circle{
    display: flex;
    width: clamp(20px, 280px, 450px);
    height: clamp(20px, 280px, 450px);
    padding: 15px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center
}
.circle img{
    height: 10vh;
}
.circle>div{
    display: flex;
    width: clamp(10px, 220px, 350px);
    height: clamp(10px, 220px, 350px);
    background-color: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11); 
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11);
    align-items: center;
    justify-content: center
}

.c1{
    background-color: #400185;
}
.c2{
    margin-top: 50px;
    background-color: #3CDABF;    
}
.c3{
    background-color: #FF1D37;
}
.b{
    display: none;
}

@media screen and (max-width:980px){

    main{
        height:380px;
    }
    .green-paint{
        height: 380px;
    }

    .button{
        z-index: 99999;
        transform: translateY(1.4rem);
    }
    .exam-button{
        font-size: 1.6rem;
        background-color: #fff;
    }
    .about-list ul{
        flex-direction: column;
    }

    .nav-mob{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
    }

    .nav-mob .main-title{
        color: #000;
    }

    .mobile-menu img{
        height: 30px;
    }
    
    .nav-list-mobile{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 100vh;
        width: 50%; 
        align-items: center;
        justify-content: space-around;
        z-index: 99999;
        padding: 15px 0;
        transform: translateX(-100%);
        transition: 0.7s;
    }
    .nav-list-mobile.active{
        transform: translateX(0);
    }

    .nav-list-mobile li{
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 55px 53px;
    }
    .nav-list-mobile li:hover{
        background: #29bf922d;
    }

    .desk{
        display: none;
    }
    .main-title{
        padding: 20px 0;
        text-align: center;
        position: static;
        width: auto;
        color: #000;
    }
    .main-title h1{
        font-weight: 700;
        font-size: 2rem;
    }
    .b{
        display: block;
    }

}

@media screen and (max-width:400px){
    header {
        padding: 0 20px;
    }
    .circle{
        display: flex;
        width: clamp(10px, 240px, 420px);
        height: clamp(10px, 240px, 420px);
        padding: 15px;
    }
    .circle img{
        height: 10vh;
    }
    .circle>div{
        display: flex;
        width: clamp(5px, 190px, 310px);
        height: clamp(5px, 190px, 310px);
        background-color: #fff;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11); 
        box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.11);
        align-items: center;
        justify-content: center
    }
}